<ion-view view-title="Products">
    <ion-content>


        <div class="list">

            <div class="item item-thumbnail-left" href="#" ng-repeat="product in products ">
                <img src="{{product.images}}" alt="...">

                <h2>{{product.name}} </h2>
                <p>{{product.description}}</p>
                <p><a href="#/product" class="button button-calm button-small" ng-click="productDetails(product)">MOre Details</a></p>

            </div>
        </div>
    </ion-content>
</ion-view>
